<section class="clubSection" >
    <!-- club image & possible answers -->
    <article class="club-image-container">
        <!-- club image -->
        <div class="image-wrapper">
            <p id="clubName"><%= clubName %></p>
        </div>
        <p><%= word1 %> welke <%= word2 %> speelt <%= word3 %> deze <%= word4 %> </p>
    </article>
    <hr>
    <article class="answers-container ">
        <!-- club answer, where 1 anwser is correct -->
        <div type="button" class="btn-wrapper" id="answer1">
            <button class="answer-btn1" id="answer1-side-one" > <%= answer1 %> </button>
            <button class="answer-btn2" id="answer1-side-two" > <%= answer1 %> </button>
        </div>
        <div type="button" class="btn-wrapper" id="answer2">
            <button class="answer-btn1" id="answer2-side-one" > <%= answer2 %> </button>
            <button class="answer-btn2" id="answer2-side-two" > <%= answer2 %> </button>
        </div>
        <div type="button" class="btn-wrapper" id="answer3">
            <button class="answer-btn1" id="answer3-side-one" > <%= answer3 %> </button>
            <button class="answer-btn2" id="answer3-side-two" > <%= answer3 %> </button>
        </div>
        <div type="button" class="btn-wrapper" id="answer4"> 
            <button class="answer-btn1" id="answer4-side-one" > <%= answer4 %> </button>
            <button class="answer-btn2" id="answer4-side-two" > <%= answer4 %> </button> 
        </div>
    </article>
</section>
<br>
<hr>
<br>
<!-- additional buttons to stop the game and see the a user's current score -->
<section class="additional-buttons">
    <div class="button-container">
        <div class="box-area" id="turn">
            <button class="box side-one">View current score</button>
            <button class="box side-two"><%= usersScore %></button>
        </div>
    </div>
    <div class="button-container">
        <div class="box-area" id="turn">
            <button class="box side-one">STOP</button>
            <button class="box side-two">Saving score...</button>
        </div>
    </div>
</section>